[2017-04-06 17:32] johnmurphy01 opened #1 "Alphabetize repository list"
Sort the repo list by alphabet

[2017-04-06 17:32] johnmurphy01 opened #2 "Open cloned issue in new tab"
When the cloned issue is created, open a new tab navigating to the new issue url

[2017-04-06 17:33] johnmurphy01 opened #3 "Settings screen"
Create a settings screen.

The only option right now should be a field for the user to enter a personal access token.

[2017-04-06 17:34] johnmurphy01 opened #4 "Add comment to original issue when closing"
When the issue is closed, add a comment stating:
`This issue has been cloned to [org]/[repo]`

[2017-04-06 17:44] #1 closed, assigned to johnmurphy01

[2017-04-06 17:52] #2 closed, assigned to nobody

[2017-04-06 17:52] johnmurphy01 opened #5 "Do not show the repo you're on in the list"
Do not show the repository that you're cloning from in the list of repos.

[2017-04-06 17:53] johnmurphy01 opened #6 "Button color different?"
Make the button color different than the primary green color so that it will stand out.

[2017-04-06 17:55] #5 closed, assigned to nobody

[2017-04-06 18:08] #4 closed, assigned to nobody

[2017-04-06 18:09] johnmurphy01 opened #7 "Make extension icon transparent png"
Make the stormtrooper icon a transparent png so it doesn't have the white border.

[2017-04-06 18:51] danielgary opened #8 "Remove user-agent from requests"

[2017-04-06 18:52] danielgary opened #9 "Set Author field to John Murphy - Gateway Apps, LLC"

[2017-04-06 18:56] danielgary opened #10 "Remove Gateway token and delete history of action.js so it's not ever visible"

[2017-04-06 18:56] danielgary opened #11 "Add "Feedback" link that goes to gatewayapps/kamino/issues"

[2017-04-06 19:00] danielgary opened #12 "Make Kamino public"

[2017-04-06 19:39] #3 closed, assigned to nobody

[2017-04-06 19:40] johnmurphy01 opened #13 "Make settings screen pretty"
Make the settings screen look good.

[2017-04-06 19:41] #8 closed, assigned to johnmurphy01

[2017-04-06 19:41] #9 closed, assigned to johnmurphy01

[2017-04-06 19:48] #10 closed, assigned to johnmurphy01

[2017-04-06 19:50] johnmurphy01 opened #14 "Update readme file"
Update the readme file with some instructions and what not.

[2017-04-06 20:15] #14 closed, assigned to nobody

[2017-04-06 20:24] #7 closed, assigned to nobody

[2017-04-06 20:38] #11 closed, assigned to johnmurphy01

[2017-04-06 20:49] #12 closed

[2017-04-06 21:41] johnmurphy01 opened #15 "Button doesn't appear on page until a refresh"
When navigating to a Github issues page, the button to clone doesn't appear until after a subsequent refresh of the page.

[2017-04-06 21:42] johnmurphy01 opened #16 "Commenting on closed issue broken"
When cloning, the extension should add a comment citing where the issue was cloned and that it was closed. It currently does not work.

[2017-04-07 13:08] johnmurphy01 commented on #15
Fixed as of version 1.3

[2017-04-07 13:08] #15 closed

[2017-04-07 13:42] johnmurphy01 opened #19 "Button shows up on Pull Requests"
The clone button appears on pull requests. This should not happen.

[2017-04-07 14:39] johnmurphy01 commented on #19
Fixed in version 1.4

[2017-04-07 14:39] #19 closed

[2017-04-07 15:16] johnmurphy01 commented on #16
Fixed with version 1.4

[2017-04-07 15:16] #16 closed

[2017-04-08 00:47] johnmurphy01 opened #21 "Multiple copies of the clone button is possible"
There are scenarios in which the extension will render the clone button multiple times on the issues screen. The extension code should check to make sure the button doesn't already exist before appending to the DOM.

[2017-04-08 00:54] johnmurphy01 opened #22 "Make confirmation box a Bootstrap popup rather than the standard JS popup"
The JS confirm popup looks old and is ugly. Change it so that a Bootstrap modal appears for the confirmation to clone an issue.

[2017-04-08 13:54] johnmurphy01 opened #23 "Change comment on closed issue"
When Kamino is used to close an issue, the comment should say:
`Kamino closed and cloned this issue to org/repo` so that members know that the issue was moved using a Chrome Extension.

[2017-04-09 02:19] johnmurphy01 commented on #23
Approved and merged by @mcnewbk

[2017-04-09 02:19] #23 closed

[2017-04-10 14:14] danielgary opened #26 "Have to refresh page after cloning an issue for dropdown to populate on a different issue"

[2017-04-10 14:14] danielgary opened #27 ""Clone Issue To" button is duplicated after clicking some buttons."

[2017-04-10 17:48] johnmurphy01 commented on #27
This will be addressed in version 1.5

[2017-04-10 19:29] johnmurphy01 commented on #26
Specifics:
- Clone an issue
- Go to another issue
- Attempt to click on the clone button

The repo list will not appear

- Refresh the page

The repo list will appear as expected

[2017-04-10 21:44] johnmurphy01 opened #29 "Move button to row with other buttons"
Whenever the page is partially refreshed, for example, when the issue goes from closed to open, the clone button is wiped out and the page has to be refreshed in order for the button to re-appear.

Try putting the button on the same row as the other buttons to see if this resolves the problem.

[2017-04-10 22:03] johnmurphy01 opened #31 "Update Read Me to exclude unnecessary permissions"
The Personal Access Token, at a minimum, really only needs the following rights:
`repo - all`

The other rights were included to make sure the extension worked properly, however it has been proven that the only rights necessary are the above. Update the read me file to only call out the necessary rights.

[2017-04-11 14:25] johnmurphy01 commented on #26
Will be released in version `1.5`

[2017-04-11 14:25] johnmurphy01 commented on #22
Will be in version `1.5`

[2017-04-11 15:35] johnmurphy01 commented on #29
Will be in version 1.5

[2017-04-11 18:09] danielgary commented on #31
Closed by PR

[2017-04-11 18:09] #31 closed

[2017-04-11 18:10] #29 closed

[2017-04-11 18:19] #27 closed

[2017-04-11 18:20] #26 closed

[2017-04-11 18:20] #22 closed

[2017-04-13 01:10] johnmurphy01 opened #35 "Open Kamino github page on install"
When the extension is installed by a user, open the Kamino github page in a tab.

[2017-04-13 12:11] johnmurphy01 opened #36 "Improve presentation on Chrome Web Store"
Add promotional images and update existing images to make the extension look more polished and professional.

[2017-04-13 13:12] johnmurphy01 commented on #36
Added presentation images to store

[2017-04-13 14:11] #36 closed

[2017-04-13 14:11] johnmurphy01 commented on #35
Version 1.6

[2017-04-13 15:50] danielgary opened #39 "Doesn't work"
v1.5 doesn't work, have the following issues:

Popup is in the top left corner.  Clicking ok doesn't work.  Booooo

[2017-04-13 15:54] johnmurphy01 commented on #39
Popup in the top left corner is expected. Clicking Yes not working is not expected. I'll look into it

[2017-04-13 15:55] johnmurphy01 opened #40 "Make popup centered on screen"

[2017-04-13 16:15] johnmurphy01 opened #41 "Going to a source code screen throws errors in the console"
Because the extension is updating every second to make sure the button appears on the issue page, it causes errors to be logged to the console on other pages. Add a check to make sure if there's an error due to not being on the right page, the extension doesn't continue with normal operation.

[2017-04-13 16:33] johnmurphy01 opened #43 "Code cleanup"
There are several places where code is replicated such as grabbing the url and parsing.  Re-factor the code

[2017-04-13 16:34] johnmurphy01 commented on #41
In addition to this, the repo list request was being spammed on any screen that wasn't an issue screen. This has been fixed and will be in version 1.6

[2017-04-13 16:35] johnmurphy01 commented on #39
The request to get the original issue did not populate the authorization token in the header. In addition, the variables that should have been populated with the data from the URL was being wiped out. This is fixed and will be in version 1.6

[2017-04-15 16:19] #39 closed

[2017-04-15 16:19] #41 closed

[2017-04-17 01:31] #35 closed

[2017-04-17 02:36] johnmurphy01 commented on #40
Centered the bootstrap modal and also added a semi-opaque backdrop.

[2017-04-17 03:57] johnmurphy01 opened #46 "Issues with Assignees cannot be cloned"
Whenever a clone is attempted by Kamino on an issue that has Assignees, it would return a `422 - Unprocessable Entity`.

I found this out by attempting to clone an issue for testing purposes and it didn't work. Originally, I thought it might be the label or milestone but after removing those from the new issue to be created, I was still getting the same error.

I then cloned successfully another i

[2017-04-17 22:03] #46 closed

[2017-04-17 22:03] #40 closed

[2017-04-17 22:03] #43 closed

[2017-04-20 18:48] johnmurphy01 opened #48 "Repo list doesn't appear on first button click sometimes"
Steps:
1. Clone an issue
2. Go back to original issue which should be cloned and closed
3. Go to issues list screen and pick another issue
4. Click the clone button

On the first click, the repo list won't appear. Clicking a second time will show the list.

[2017-04-20 18:49] johnmurphy01 opened #49 "Option to go back to issues list screen"
Add a user option for Kamino to take the user back to the issues list screen of the organization for the original issue. Currently, the cloned issue is the landing spot after a clone.

[2017-04-21 12:38] johnmurphy01 opened #50 "Show top 5 most used repos"
Show the top 5 most used repositories in the list first, followed by all other repos sorted alphabetically.

[2017-04-21 12:39] johnmurphy01 opened #51 "Quick clone feature"
Alter the clone button to be a split button in which the left side of the button will clone the issue to the last used repo and the right side of the button will be the usual drop down

[2017-04-21 13:38] johnmurphy01 commented on #48
Version `1.8`

[2017-04-21 14:11] johnmurphy01 opened #53 "Repos with . do not work"
Repositories with a name that contains a `.` do not work when trying to clone.

[2017-04-21 14:53] johnmurphy01 commented on #53
Version `1.8`

[2017-04-21 14:54] johnmurphy01 commented on #50
Version `1.8`

[2017-04-21 16:02] johnmurphy01 commented on #49
Version `1.8`

[2017-04-21 19:34] johnmurphy01 commented on #51
Will need to merge in the most used feature to finish this

[2017-04-21 20:36] johnmurphy01 commented on #51
Version `1.8`

[2017-04-24 13:11] johnmurphy01 opened #57 "Bump to 1.8 and update readme"

[2017-04-25 15:13] #48 closed

[2017-04-25 15:13] #49 closed

[2017-04-25 15:13] #50 closed

[2017-04-25 15:13] #51 closed

[2017-04-25 15:13] #53 closed

[2017-04-25 15:13] #57 closed

[2017-04-26 12:58] johnmurphy01 opened #59 "Sometimes redirecting to the issues list or new cloned issue has problems"
- Sometimes when redirecting to the issues list, the issue that was closed is still in the list.
- Sometimes when redirecting to the new cloned issue, the issue page doesn't yet exist.

This is due to the navigation occurring before Github's servers have a chance to resolve the actions taken by Kamino. The actions taken by Kamino are happening correctly, but the appearance is that something went w

[2017-04-26 18:39] johnmurphy01 commented on #59
Version `1.9`

[2017-04-28 14:43] johnmurphy01 opened #61 "Add option to open new issue in tab"
Give the user the option to open the issue in a new tab. If the setting is off, when an issue is cloned it will not open the issue in a tab. If the setting is on, when an issue is cloned it will open the issue in a new tab.

[2017-04-28 14:45] johnmurphy01 opened #62 "Set length of clone button"
The length of the quick clone button can be long due to the length of the repo name. Make the button length a static width and overflow the repo name with ellipsis

Also make sure button says `Clone to` instead of `Clone issue to`

[2017-04-28 14:46] johnmurphy01 opened #63 "Move Kamino button to sidebar"
Move the Kamino button to the sidebar, above the Notifications section

[2017-05-01 23:19] johnmurphy01 commented on #61
Version `2.0`

[2017-05-01 23:19] johnmurphy01 commented on #62
Version `2.0`

[2017-05-01 23:19] johnmurphy01 commented on #63
Version `2.0`

[2017-05-02 13:47] #59 closed

[2017-05-02 13:47] #61 closed

[2017-05-02 13:47] #62 closed

[2017-05-05 13:13] johnmurphy01 opened #68 "Move Kamino section to top of sidebar"
User suggestion:
- The Kamino section kind of gets lost being below Milestones and above Notifications. It would be best if the section is at the very top of the side bar or at the very bottom.

[2017-05-05 13:18] johnmurphy01 opened #69 "User option to navigate back"
User suggestion:
- I have applied filters to the issues list. Kamino does navigate back to the issues list but my filters are cleared. It would be nice if when Kamino navigated back to the issues list, it kept my filters.

[2017-05-08 14:55] johnmurphy01 commented on #69
Version `2.1`

[2017-05-08 14:55] johnmurphy01 commented on #68
Version `2.1`

[2017-05-13 21:05] #68 closed

[2017-05-13 21:05] #69 closed

[2017-05-17 12:36] johnmurphy01 opened #73 "Applied filters across repos"
Applied filters has an issue in which the filters aren't being cleared when looking at different repositories. Also, if you are searching for something in the Search box, this ends up being applied to the issue filter and it should not.

[2017-05-17 14:21] johnmurphy01 commented on #73
Version `2.2`

[2017-05-17 19:01] mzia opened #75 "Dropdown control lists only a limited amount of repos to choose from."
I'm seeing only about 90 some repos from my org. I have a lot more. Is there an limit to the drop down repo listing for the `clone to` button?

[2017-05-17 19:03] johnmurphy01 commented on #75
@mzia there is a limit but it should be around 1000 repos. I will do some digging and see if there's a problem with retrieving repos. Thanks for the feedback!

[2017-05-17 19:21] johnmurphy01 commented on #75
Github API only allows for 100 items per page. Will need to figure out a different way to gather user repos.

[2017-05-17 21:27] johnmurphy01 commented on #75
@mzia I've submitted a PR to to fix this issue. Once it's approved and merged, I'll create a new release for Kamino, version `2.2`

[2017-05-17 21:41] johnmurphy01 commented on #75
@mzia version `2.2` should be available to you shortly. If you notice anything else, feel free to create an issue.

[2017-05-17 21:41] #73 closed

[2017-05-18 00:43] #75 closed

[2017-05-18 15:37] mzia commented on #75
Thanks a lot @johnmurphy01! It's working now :)

[2017-05-18 15:40] johnmurphy01 commented on #75
@mzia wonderful! I mentioned your username in the release notes on the Web Store as the person who identified the issue, hope that was okay.

[2017-06-01 08:29] EastWindShak commented on #13
Kamino closed and cloned this issue to EastWindShak/swagger4OASP4J

[2017-06-02 13:26] danielgary opened #78 "[bug] Kamino menu shouldn't render on new issue page"

[2017-06-12 14:00] johnmurphy01 opened #79 "Add the creator of the original issue to the clone"
When Kamino clones an issue, there's no reference as to who created the issue originally. It would be nice to have the creator listed in the cloned issue's description.

[2017-06-13 20:43] johnmurphy01 opened #80 "Button appearing on pull request creation screen"
The Kamino button appears on the screen in which a new pull request is created. It also appears that the button appears twice on this screen.

[2017-06-14 19:37] johnmurphy01 commented on #78
Version `2.3`

[2017-06-14 19:52] johnmurphy01 commented on #80
Version `2.3`

[2017-06-19 16:19] johnmurphy01 opened #84 "Test PR create bug"
Create a PR to test create bug.

Also found some issues with the previous bug fixes

[2017-06-20 19:08] #84 closed

[2017-06-20 19:08] #80 closed

[2017-06-20 19:08] #79 closed

[2017-06-20 19:08] #78 closed

[2017-07-20 21:41] johnmurphy01 opened #86 "test issue"
keenai/windows-classic-app#291

[2017-07-20 21:41] #86 closed

[2017-07-20 21:44] johnmurphy01 opened #87 "another test"
keenai/windows-mobi-shared@a5c3785

[2017-07-20 21:45] #87 closed

[2017-08-02 00:03] johnmurphy01 opened #88 "Give the user the option to not close the original issue"
I ran into a scenario in which I wanted to clone the issue but not necessarily close it. It's not a huge deal to re-open the closed issue but would be nice for the user to have an option to enable/disable closing of the original issue that is being cloned.

[2017-08-11 19:02] johnmurphy01 opened #89 "Use templating to make manipulating html easier"
The generation of the Kamino button, dropdown and modal are accomplished by defining a few string variables that contain the markup. This quickly becomes hard to read and hard to maintain/change.

To aid in making changes easier and also improving readability, a templating engine should be used(Handlebars). This should be possible within a chrome extension.

[2017-08-14 12:40] johnmurphy01 commented on #88
Kamino closed and cloned this issue to gatewayapps/arenaball

[2017-08-14 12:40] johnmurphy01 commented on #88
Kamino closed and cloned this issue to gatewayapps/arenaball

[2017-08-14 12:45] johnmurphy01 commented on #13
`2.4`

[2017-08-14 12:45] johnmurphy01 commented on #88
`2.4`

[2017-08-14 15:02] johnmurphy01 commented on #89
`2.4`

[2017-08-14 15:02] johnmurphy01 commented on #6
I'm good with the button color

[2017-08-14 15:02] #6 closed

[2017-08-15 12:32] #13 closed

[2017-08-15 12:32] #88 closed

[2017-08-15 12:32] #89 closed

[2017-08-15 16:49] johnmurphy01 opened #96 "Handlebars not defined on initial page load"
Handlebars is not available on the first page load, causing the Kamino button to not appear. Subsequent page loads will fix the issue. This is most likely due to pushState versus non pushState

[2017-08-15 17:49] #96 closed

[2017-08-21 22:17] demianmnave opened #98 ""Package is invalid" error when installing from Chrome Web Store"
I'm getting the following error when installing V2.5 (August 15, 2017) from the Chrome Web Store:

[code]

I am running the latest 64-bit version of Chrome, 60.0.3112.101.

[2017-08-22 12:18] johnmurphy01 commented on #98
Thanks for reporting this! I'll look into it

[2017-08-22 12:37] johnmurphy01 commented on #98
@demianmnave this should be resolved with version `2.6`. I had forgotten to include a code file when publishing the extension. Thank you, thank you, thank you for catching this and reporting it!

[2017-08-22 13:48] demianmnave commented on #98
@johnmurphy01 that worked, thanks for the quick response.  I'm having another problem, but I'll submit a new issue momentarily.

[2017-08-22 13:49] johnmurphy01 commented on #98
perfect! Thanks for the feedback

[2017-08-22 13:49] #98 closed

[2017-08-22 14:04] demianmnave opened #99 "Repo drop-down and cloning operation become "stuck" after cloning two issues"
In short, I was able to clone two issues, but attempting to clone a third issue doesn't seem to work.  I don't know how to repro the problem, so I will just describe the behavior I'm seeing.

After cloning two issues:
1. From the issues list, click on an issue to open the issue page.  It doesn't seem to matter if the issue is open or closed.
2. Click the drop-down to show the list of accessible re

[2017-08-22 14:36] johnmurphy01 commented on #99
@demianmnave thanks. I will try to replicate

[2017-08-22 14:39] johnmurphy01 commented on #99
One thing you could try to help me out is open the Chrome developer tools. I'm sure you know how but in case not:
- Right click on the page and click `Inspect` or
- `Ctrl+Shift+I`

See if there are any errors in the console output when you're having the issue with Kamino

[2017-08-22 14:47] johnmurphy01 commented on #99
I was not able to reproduce by cloning 3 issues, one after the other. @demianmnave is there something different/special about the last issue you attempted to clone? Can you reproduce this _every_ time you attempt the test or doesn't it happen infrequently?

[2017-08-22 15:06] demianmnave commented on #99
@johnmurphy01 the number of issues is probably unrelated.  You will be able to discern the differences between issues better than I, so here are the links:

#### Issues that were cloned successfully:
[CML1, issue 3](https://github.com/demianmnave/CML1/issues/3) -> [CML, issue 1](https://github.com/demianmnave/CML/issues/1)
[CML1, issue 4](https://github.com/demianmnave/CML1/issues/4) -> [CML, issu

[2017-08-22 15:09] demianmnave commented on #99
Ah, removing the milestone did it; the target milestone doesn't exist in CML.  It's an easy fix, so maybe just a documentation update is needed to close out this issue.

[2017-08-22 15:11] johnmurphy01 commented on #99
thanks for the investigative work! What I can do is remove the milestone during the cloning process. That will prevent you, the user, from having to do anything(unless you want to have that milestone tied to the cloned issue in the new repo)

[2017-08-22 15:13] demianmnave opened #100 "Support cloning milestones and labels?"
The GitHub API apparently supports migrating labels and milestones, so perhaps this functionality could be added to Kamino as a convenience.  This would also avoid problems with migrating issues having milestones that don't exist in the target repository.

[2017-08-22 15:24] demianmnave commented on #99
I added a new issue with a suggestion to support optionally migrating the milestone along with an issue.  As for this particular issue, I was able to move my issue list over to the new project, so feel free to close it.

Thanks for the help!

[2017-08-22 15:30] johnmurphy01 commented on #100
Here's my argument against creating milestones:

Let's say I create the milestone associated with the issue that you wish to clone in the new repo. That's fine. But what if this milestone is just one of many milestones? For instance, some people create milestones for their agile/Scrum projects. If I clone a milestone that is for Sprint 3, it has no meaning in the new repo. Furthermore, what if the

[2017-08-22 15:31] johnmurphy01 commented on #99
For the time being to address this issue, until #100 is settled, I'm going to ignore the migration of milestones when cloning.

[2017-08-22 15:32] demianmnave commented on #99
Sounds like a plan, thanks again!

[2017-08-22 15:32] #99 closed

[2017-08-22 15:39] johnmurphy01 commented on #99
Version `2.7`

[2017-08-22 15:58] demianmnave commented on #100
It would certainly have to be optional, and not the default behavior.

For my use case, I wanted to exactly clone the issues, labels, and milestones associated with the branch that I turned into a new repository.   If this is not a common use case, or is not a situation Kamino is meant to address, then simply ignoring milestones when cloning is perfectly acceptable.

[2017-08-22 16:01] johnmurphy01 commented on #100
I could do the following:
- Add a new option to the Options screen that says something like: `Migrate associated milestones when cloning an issue`. By default, this option will be disabled
- If enabled, it will create only the associated milestone. It will not create all milestones within a repo
- If disabled, it will behave as version `2.7` does now and ignore the milestone.

Thoughts?

[2017-08-22 19:43] demianmnave commented on #100
There is no reason to migrate all milestones given the way Kamino works now, so this is definitely a reasonable solution.  It isn't hard to image Kamino growing into a tool that supports bulk cloning, in which case migrating all milestones (but still not by default) would make more sense.

It's just icing on the cake, but you might also consider putting the option on the "Confirm Clone" dialog if

[2017-09-14 23:10] tonysneed opened #103 "Clone to an organization repository?"
I would like to clone issues from one repository to another within the same organization, but I don't see the org repositories in the drop down.  Is this possible?

[2017-09-14 23:31] johnmurphy01 commented on #103
@tonysneed as long as you are a member of the repository, you should see it in the list of repositories to clone to. If you can confirm you are a member of the repository and you still do not see the repo in the list, please let me know. Also let me know about how many repos you have in your list.

I retrieve the list using the Github API, making the following request. The description below will g

[2017-09-15 00:39] tonysneed commented on #103
Thanks - all good now.

[2017-09-15 00:39] #103 closed

[2017-09-15 00:39] johnmurphy01 commented on #103
Good to hear!

[2017-11-28 16:06] johnmurphy01 opened #104 "Regression: Repos with periods"
It appears that repositories that contain a `.` can not be cloned into. This is a regression.

[2018-03-24 14:00] eswsalesapgcgemea opened #106 "Clone and issue inside the same repository / dashboard"
Hello
Is it possible to clone issues, associated comments, labels, and epic within the same repository ?
I will use Github for my testing
I have created master scripts that I now need to duplicate toassign 1 per testers
Each master scripts has a comment per step (for easy processing of the script)  - so it's very time consuming to copy each comment 1 by 1
thanks !

[2018-03-24 14:34] johnmurphy01 commented on #106
@eswsalesapgcgemea if I understand you correctly, you want to be able to clone a Github issue to the _original_ repository from which it came.

I do exclude the repository that is being cloned from in the list of repositories here:
https://github.com/gatewayapps/kamino/blob/master/app.js#L224-L227

I _believe_ the only reason this was done was because it didn't make sense to clone to the same repo

[2018-03-24 14:57] johnmurphy01 commented on #106
@eswsalesapgcgemea this was super simple and I think the only reason I added that restriction is because it didn't make sense to me to clone to the same repo. I'll do some more testing and then version `2.8.1` will be available in the Chrome Store in a little while. Thanks and welcome to Github!

[2018-03-24 15:16] johnmurphy01 commented on #106
In `2.8.1`. Closing

[2018-03-24 15:16] #106 closed

[2018-04-11 04:20] demisjohn opened #108 "Doesn't Clone to someone else's repo"
In my dropdown list, the extension works as expect if I choose one of my own repos.  However, I actually want to clone to another user's repo, of which I am a collaborator.

When I select the other user's repo, the issues page jumps/scrolls to the top and no popup window appears (which would have asked "clone and close?" etc.).  But it works exactly as expected for my own repos.
I have collaborato

[2018-04-11 14:10] johnmurphy01 commented on #108
@demisjohn thanks for the feedback! This sounds like a permission issue. I'll investigate.

[2018-04-17 19:53] CamSoper opened #109 "Manually entering Owner/Repo"
I work for Microsoft. I'm in five or six orgs, which provides me access to literally hundreds (thousands?) of repos. Finding the repo I need in the list is a chore, and, for some reason, they don't all show up, even when they should.

I'd love the option to just type the owner/repo I want to transfer the issue to and then display an exception if it turns out I don't have the rights.

[2018-04-17 20:48] johnmurphy01 commented on #109
@CamSoper thanks for the feedback! A search filter sounds like a great idea. Also, a little bit concerning, is why all of your repositories aren't showing up in the dropdown list. I'll see what I can do about a search filter and, along the way, investigate what's up with populating the repo list.

[2018-04-17 20:54] CamSoper commented on #109
I'm not much of a frontend developer, but if you need me to debug/dump anything on the missing repos situation, let me know.  I can repro reliably.

[2018-04-17 20:55] johnmurphy01 commented on #109
Absolutely, that would help. If there's anything in the dev console or anything of significance in the network requests, that may help shed some light on the issue. I am not fortunate enough to have access to many hundred repos :)

[2018-04-18 16:59] CamSoper commented on #109
So I ran it with the dev tools open and tracked the network performance.  You know how you pull down the repo list paginated in groups of 100?  Turns out I have 48 (!!!) pages of repos to pull down.  Dropping a repo here or there *could* be on your end, but I'm betting it's on the GitHub side.  I didn't go digging through 48 JSON responses to find out, though.  😆

Closing and reopening the browser

[2018-04-18 17:40] johnmurphy01 commented on #109
Oh wow! That's a lot of repos! Yeah, definitely a use case for a search filter

[2018-04-19 15:15] johnmurphy01 commented on #109
@CamSoper I've just published version `2.9.1` to the Chrome Web Store. Look for it to be available soon. If you don't mind, please update when you can and see if the experience is better for you with the search filter and hopefully I've fixed your repo loading issues as well.

[2018-04-20 03:14] CamSoper commented on #109
Just updated!  Much better experience!  Thank you, friend!

[2018-04-20 12:15] johnmurphy01 commented on #109
Excellent! Thank you for the suggestion. I will close this issue

[2018-04-20 12:15] #109 closed

[2018-05-31 18:41] rbetts opened #111 "Add link to new issue in "Kamino closed and cloned.." comment"
Would you accept a PR to add a link to the new issue in the comment that Kamino adds to the old repo? It would be nice to cross-link the issues.

https://github.com/gatewayapps/kamino/blob/master/app.js#L327

[2018-05-31 18:48] johnmurphy01 commented on #111
Sure, feel free to create a PR and I will review, otherwise I'll treat it as a backlog item for myself. Not sure why I didn't go ahead and make the cross link in the first place...

[2018-05-31 18:50] johnmurphy01 commented on #108
Closing due to lack of response from the OP. If this is still an issue, feel free to re-open and provide more detailed information

[2018-05-31 18:50] #108 closed

[2018-06-03 05:18] demisjohn commented on #108
Hello Mr. Murphy,
Sorry I probably won't be able to try this again and give you more error
info about it.

--                             Demis                             --
°•Oo.oO•°*°•Oo. Sound  OK
<http://www.google.com/search?q=sound+ok+horn&tbm=isch>  Horn *°•Oo.oO•°*°•O
o.

On Thu, Apr 12, 2018 at 6:22 AM, John Murphy <notifications@github.com>
wrote:

[2018-07-02 21:20] adamperlin commented on #111
Thought this would be useful, so I just opened a PR which addresses this: #112

[2018-07-02 21:29] johnmurphy01 commented on #111
Thanks! I'll do a full review/test soon but as I said in the PR, looks good at a high level

[2018-07-02 21:31] johnmurphy01 opened #113 "Technical: House cleaning"
- [ ] Use string literals where possible for cleaner string manipulation
- [ ] Do another pass through of the code for any optimizations that can be made

[2018-07-03 14:16] johnmurphy01 commented on #111
I've merged #112. I will try to get a new version in the Google Chrome store today or tomorrow

[2018-07-03 16:29] adamperlin commented on #111
Awesome thanks so much!

[2018-08-03 16:04] alanjds opened #114 "Support moving PRs"
I would expect PRs to be moved also, not only issues.

[2018-08-03 16:18] johnmurphy01 commented on #114
@alanjds  Thanks for the feedback, but you'll have to explain further why PRs should be cloned. In my mind, a PR is intrinsically tied to the repo from which it was created. If I make a PR for `Repo A`, I'm saying I want to perform a code based merge action from one branch to another. A PR is much more than a description of text, it's a request to merge code.

[2018-08-03 16:22] johnmurphy01 commented on #111
Omg, so sorry guys. I forgot to roll out a new version of the extension. I'll do that right now. Life has been busy lately :)

[2018-08-03 16:23] #111 closed

[2018-08-03 16:31] johnmurphy01 commented on #111
In version `2.9.2`. Again sorry for the delay all

[2018-08-03 16:56] alanjds commented on #114
Exactly.

I am, with some more people, hard-forking https://github.com/google/grumpy to https://github.com/grumpyhome/grumpy because the former stalled.

There, 21 PRs full of comments got left without following answers. I want to clone this all to the new repo that inherits the same base one, then fix/review the PRs and merge some of it.

[2018-08-03 17:49] johnmurphy01 commented on #114
I understand. I'll have to do some looking but I don't think this is necessarily complex. Kamino doesn't currently clone comments on even issues right now, so that will be another thing to consider. I'll tag this as investigating, but if you or anyone else wants to tackle it with a PR, that's fine as well. Otherwise, I'll start the initial work on it as I have time.

[2018-08-03 20:17] alanjds commented on #114
Thanks for answering.

To be transparent, Javascript is not my main language. For a bulk transfer as I need, maybe https://github.com/IQAndreas/github-issues-import suites better. Anyway, lets see what the other Grumpyhome devs says.

[2018-08-31 15:26] johnmurphy01 opened #115 "Migrate extension to MS Edge browser"

[2018-09-12 09:26] aeschli opened #116 "Allow to enter any public repo"
I need to move issue to other public repos which I'm not a member of. Is that possible?

When entering the name to the search box, no entry shows up and there's no way to invoke the move

[2018-09-12 13:10] johnmurphy01 commented on #116
That is not possible with Kamino. You have to be a member of the repository to which you are attempting to clone. If anyone could clone to any public repo, you can imagine what could happen if someone wanted to be malicious.

You'll need to get permission from the repo owner and become a member first.

[2018-09-12 15:43] #116 closed

[2018-10-13 05:16] jamie29w commented on #113
Hey @johnmurphy01, are you still needing help with this issue? If so, I'm looking to make my first contribution and PR (:

[2018-10-13 06:01] jamie29w commented on #113
I cloned down master and am trying to make a PR. I'm having trouble comparing your master and my housecleaning-113 branch. Are you able to help point me in the right direction?

[2018-10-13 12:53] johnmurphy01 commented on #113
Hey @jamie29w yes the work still needs to be done! Awesome this is your first PR, good job! I'll post a link that really helped me when I tried to make my first PR to an open source project. If you run into anymore trouble, just let me know:

https://www.digitalocean.com/community/tutorials/how-to-create-a-pull-request-on-github

[2018-10-13 21:42] jamie29w commented on #113
Thank you @johnmurphy01! Very helpful article. I just sent the PR.

[2018-10-14 03:41] johnmurphy01 opened #118 "Run code through linter/prettier"
Use the prettier library to style code.

My code style:
- no semi-colons at the end of lines
- single quote for strings unless using template literals
- arrow functions
- arrow function params should have parenthesis around it:
[code]
- space between `if` and conditional:
[code]
- `{` not on own line

[2018-10-31 22:08] johnmurphy01 opened #121 "Clone comments"
When cloning an issue, allow cloning comments over as well. Since this might not be desired by some, it should be an option. I will have to decide how best to present this, maybe in the options as a global setting.

[2018-11-19 22:16] pavog opened #122 "Post returns 410 (Gone) when issues are turned off for destination repository"
Hi, when I try to use this extension the following error is getting printed to my browser console:

`https://api.github.com/repos/pavog/myrepo/issues 410 (Gone)`

The github developer api describes the endpoint over [here](https://developer.github.com/v3/issues/#create-an-issue).

[2018-11-19 23:05] johnmurphy01 commented on #122
Hi @pavog. That is coming directly from the Github api.

Can you provide more detail about what operation you are trying to perform? For example, are you trying  to actually clone an issue or is this happening before then?

[2018-11-20 06:55] pavog commented on #122
Hi, I found out that this is problem occurs only if issues are not enabled on my reporitory, which is the default for forked repositories, unfortunately.

Maybe you can add a check for this (if the issues are enabled in the repo settings) and display a proper waring / error message.

[2018-11-20 16:16] johnmurphy01 commented on #122
Good find! I can probably do that but ideally if you're trying to clone to a repo that has issue creation disabled, it would be smarter of Kamino to enable issue creation via an API call. I'll put this in the backlog to  either:
- present a warning message letting the user know that the repo they are cloning to doesn't allow issue creation
- automatically enable issue creation if disabled

[2018-11-20 20:07] pavog commented on #122
Sounds good. Thanks!

[2018-12-11 19:41] johnmurphy01 commented on #115
https://www.windowscentral.com/microsoft-confirms-plans-rebuild-edge-ground-using-chromium-windows-10
Edge is going to be replaced with a new Chromium based browser so I'm closing this issue.

[2018-12-11 19:41] #115 closed

[2019-04-02 17:56] #121 closed

[2019-04-09 17:43] johnmurphy01 commented on #122
Looks like you can `PATCH` the repository and enable issues by setting `has_issues` to `true`:
https://developer.github.com/v3/repos/#edit

If using Kamino, then I will make the assumption that issues need to be enabled for the repo. I will call the above endpoint and then cloning should be possible after the fact.

[2019-04-09 18:06] johnmurphy01 commented on #1
@all-contributors please add @johnmurphy01 for code

[2019-04-09 18:14] johnmurphy01 commented on #2
@all-contributors please add @danielgary for ideas

[2019-04-09 18:17] johnmurphy01 commented on #75
@all-contributors please add @mzia for bug

[2019-04-09 18:21] johnmurphy01 commented on #98
@all-contributors please add @demianmnave for bug

[2019-04-09 18:22] johnmurphy01 commented on #106
@all-contributors please add @eswsalesapgcgemea for bug and ideas

[2019-04-09 18:24] johnmurphy01 commented on #109
@all-contributors please add @CamSoper for bug and ideas

[2019-04-09 18:26] johnmurphy01 commented on #111
@all-contributors please add @adamperlin for code and @rbetts for ideas

[2019-04-10 12:26] johnmurphy01 commented on #111
@all-contributors please add @rbetts for ideas

[2019-04-10 12:34] johnmurphy01 commented on #122
@all-contributors please add @pavog for bug

[2019-04-27 16:53] johnmurphy01 opened #139 "Cloned comments should contain original poster and link"
Cloned comments should contain the original poster(as a link) and a link back to the original comment

[2019-04-29 08:34] zhongweili commented on #114
Kamino cloned this issue to [zhongweili/CardsWriting](https://github.com/zhongweili/CardsWriting/issues/52)

[2019-05-21 22:05] fuzzyweapon opened #140 "Is it possible to narrow permission scopes for the PAT required?"
Full access seems like a lot for something that clones issues between repositories.

[2019-05-21 22:48] fuzzyweapon opened #141 "Support cloning to saved groups for batch cloning"
It'd be nice if there were a way to define groups of repos that could be re-used.

### Use Case

I work on a framework that is used in lots of projects both private and public.  Because I work on things like new project setup, build, IDE support, etc, and there are things that cannot be fixed in a single project.  This tool is great for that, but if I have 24 projects to clone an issue to, it defe

[2019-05-22 02:14] johnmurphy01 commented on #140
@fuzzyweapon thanks for the input! Do you have a suggestion for the scope? `repo` isn't necessarily full access but it does give you read and write access to private and public repos.

[2019-05-22 02:16] johnmurphy01 commented on #141
Interesting idea! I'll think it over and see what I can do to best include this feature. As you described above, it might be a multi phased feature

[2019-05-22 14:58] danielgary commented on #140
I can provide some insight on this.  Because this isn't a GitHub App but an OAUTH app, GitHub doesn't provide the granularity needed to only R/W issues.

I certainly understand your concern, but it's one of the reasons the project is open source.  If you want to compile yourself and install, you can.

[2019-05-22 15:11] johnmurphy01 commented on #141
@all-contributors please add @fuzzyweapon for ideas

[2019-05-30 21:28] #140 closed

[2019-06-21 14:16] finger563 opened #143 "Batch cloning for multiple issues"
Allowing selection of multiple issues for batch cloning

[2019-06-21 15:26] johnmurphy01 commented on #143
@finger563 thanks for the suggestion! I'd have to give some thought on how to best present this feature from a UI perspective

[2019-07-22 23:24] mbattaglia commented on #143
Kamino cloned this issue to [mbattaglia/test-repo](https://github.com/mbattaglia/test-repo/issues/1)

[2019-07-22 23:53] mbattaglia commented on #143
Kamino cloned this issue to [mbattaglia/DESTINO](https://github.com/mbattaglia/DESTINO/issues/1)

[2019-07-27 01:11] SteffanoP opened #144 "Kamino-backdrop fade blocks buttons"
So I was using this tool for the first time, and when i gave a try, a problem happened that there is a fade blocking the buttons of being pressed, as you can see in the printscreen below.

![SharedScreenshot](https://user-images.githubusercontent.com/26782009/61987923-3d2f4d00-aff1-11e9-8f01-b6da1d2dfc84.jpg)

So I used an adblock to block the following div: `<div class="kamino-backdrop fade in"><

[2019-07-27 13:11] Expedition13Admin commented on #144
Confirmed

[2019-08-02 08:33] zhaong commented on #144
**Workaround:**
Use Adblock to block the following div: `<div class="kamino-backdrop fade in"></div>`
Add block rule `##div[class="kamino-backdrop fade in"]`

[2019-08-02 08:37] Ornias1993 commented on #144
Thats a workarround, but it would be nice if people like: Fix their bugs.
I know its like talking unicorns, but still.

[2019-08-02 08:38] Ornias1993 opened #145 "Disable comment on clone"
It would be nice if we could clone an issue, without commenting.
I dont like spamming the upstream of a project because I copy some issues.

[2019-08-02 12:26] johnmurphy01 commented on #144
@SteffanoP thanks for the bug report! I'll check this out as soon as I can and see if I can provide a fix that doesn't involve a workaround.

@Ornias1993 awesome joke!

But seriously, this is an open source project. Anyone who has the inclination can provide a PR and I will review it and include it in the project if it passes review. I work on Kamino in my free time, unfortunately free time has be

[2019-08-02 13:07] johnmurphy01 commented on #144
@SteffanoP @zhaong @Expedition13Admin @Ornias1993 I have just released version `2.10.1` of Kamino to the Chrome store. Once you've received the latest version, please give it a try. I will close this issue once I receive word that the bug is fixed

[2019-08-02 13:09] johnmurphy01 commented on #145
Understandable. I can add an option in the settings page to turn off automatic comments. By default, the extension would work as it does now. If you toggle, then cloning will only clone the issue and any comments rather than injecting the Kamino related comments

[2019-08-02 13:11] johnmurphy01 commented on #143
@all-contributors please add @finger563 for ideas

[2019-08-02 13:12] johnmurphy01 commented on #144
@all-contributors please add @SteffanoP for bug

[2019-08-02 13:12] johnmurphy01 commented on #145
@all-contributors please add @Ornias1993 for ideas

[2019-08-02 13:19] Ornias1993 commented on #144
@johnmurphy01 Wasn't meant to be a jackass.
I think we all know the time struggles and need to pick our opensource fights to fight.
I'll update, check it out and respond back in a sec!

[2019-08-02 13:20] Ornias1993 commented on #144
Checked, works fine! Thanks! :)

[2019-08-02 13:21] johnmurphy01 commented on #144
@Ornias1993 no worries. Thanks for verifying!

[2019-08-02 13:21] #144 closed

[2019-08-14 21:46] jlczuk opened #150 "Firefox Extention?"
Is there any chance of a firefox extension?

[2019-08-14 21:48] johnmurphy01 commented on #150
Of course! You're actually the first person to ask but it should be trivial to port this to a Firefox addon.

[2019-08-14 21:58] jlczuk commented on #150
All I can say is, SUWEEET!  If I knew how to do it, I would fork and issue a PR.  Thanks!

[2019-08-15 22:32] johnmurphy01 commented on #150
After looking a little bit, appears there will be some work to do for the port. Definitely doable, but may take a little longer than I expected.

[2019-08-16 04:57] knutwannheden opened #151 "Support cloning into issue editor"
I would (as an option) like to be able to clone an issue and be able to edit it in the GitHub issue editor before actually creating it.

[2019-09-07 15:43] fuzzyweapon commented on #140
Thanks!  Understood and makes sense!

[2019-09-25 14:26] johnmurphy01 opened #152 "Difficult to click Kamino button"
The Kamino button is difficult to click. I believe the content below the button is obstructing the button and there should be some padding/margin to separate the content.

[2019-09-25 16:54] radiantly commented on #152
Hi, can I work on this?

[2019-09-25 17:37] johnmurphy01 commented on #152
Absolutely! If you're doing it for Hacktoberfest, just make sure to wait and make your PR after October 1

[2019-12-18 01:47] sjsaha opened #153 "Allow Enterprise Githubs"
Please provide option to fully access custom URL - for enterprise githubs in a private network

[2019-12-18 01:56] sjsaha commented on #153
![Untitled](https://user-images.githubusercontent.com/7125423/71049208-ac623500-217c-11ea-9f87-e9841b36e6ab.png)

[2019-12-18 14:29] johnmurphy01 commented on #153
Thanks for the feedback! I will have to investigate to see if this is possible.

[2020-03-02 16:20] frekel commented on #153
I would like this too!!

[2020-04-01 12:03] ctopinka commented on #139
Also, I'm only seeing my own comments in the clone.

[2020-07-02 14:36] dschmidtadv commented on #141
This would be tremendously useful, I have to do that all the time! ;-)

[2020-07-16 17:47] jmah-cc opened #154 "Auto assign label when issue is cloned"
It'd be great if you can automatically add a label to the original issue when it's cloned. Can be a default label (kamino-cloned-issue) or better yet let each user specify the label they want to use in Kamino's Options page

[2020-07-16 17:49] jmah-cc opened #155 "Show full repo name in a tool-tip on hover (name currently gets truncated in the drop-down view)"
Currently some of the repos I'm using have long names and if they belong to the same org, it's hard to distinguish which repo is which. It'd be great if you show a tool-tip on hover so we can easily see the full repo name:

![image](https://user-images.githubusercontent.com/57732952/87704919-f2eb3280-c751-11ea-9952-62a8c729493e.png)

[2020-08-27 17:20] #152 closed

[2020-08-27 17:22] johnmurphy01 commented on #155
@all-contributors please add @jmah-cc for ideas

[2020-08-27 17:26] johnmurphy01 commented on #155
@all-contributors please add @jmah-cc for ideas

[2020-08-27 17:29] johnmurphy01 commented on #153
@all-contributors please add @sjsaha for ideas

[2020-08-27 17:31] johnmurphy01 commented on #151
@all-contributors please add @knutwannheden for ideas

[2020-08-27 17:32] johnmurphy01 commented on #150
@all-contributors please add @jlczuk for ideas

[2020-08-27 19:57] johnmurphy01 commented on #153
@sjsaha I have an in progress branch where I am attempting to make this work.

If possible, could you pull down this branch: https://github.com/gatewayapps/kamino/tree/enhancement/153-allow-enterprise

and load the unpacked extension into Chrome and then check to see if Kamino works for you in your Github Enterprise instance? I don't have access to an Enterprise instance, so it's hard to say if th

[2020-08-27 21:44] johnmurphy01 commented on #152
I have created a release(`v2.10.2`) that is pending review by Google. They have updated their review policies for extensions so it could take longer than normal to appear in the store

[2020-09-04 09:26] sjsaha commented on #153
Hi All,

Sorry for the late reply. I have moved to a new organization where I don't
have access to Github Enterprise.

On Fri, Aug 28, 2020 at 3:57 AM John Murphy <notifications@github.com>
wrote:

[2020-09-04 13:11] johnmurphy01 commented on #153
@sjsaha no worries, hope your move went well!

[2020-09-04 13:12] johnmurphy01 commented on #153
To anyone who has an Enterprise account, I have posted instructions above if you would like to help test Kamino for Enterprise Github. Just post here with the results

[2020-09-09 16:12] natasab commented on #153
For me it worked in SAP Enterprise account and i followed the instructions, thank you for this extension.
* Is it possible to exclude "Kamino cloned this issue to XYZ" from the comment of the source issue?
* is it possible to select multiple issue and clone them at once?

[2020-09-09 16:21] johnmurphy01 commented on #153
@natasab thank you for verifying!

Regarding your other questions:
- There is another issue related to suppressing the clone message on the original issue
- Currently no it's not possible to bulk clone issues. With the way Kamino is written, it's more for single issue cloning. However I don't think it would be impossible to extend Kamino to do this
- Currently you cannot remove the mention from th

[2020-09-10 09:25] natasab commented on #153
@johnmurphy01  thank you!

I found my way how to make this work by applying the changes to the code locally as a quick and dirty workaround :)

[2020-09-10 12:25] johnmurphy01 commented on #153
@natasab  Great! If you want to contribute to this repo, feel free to make a PR

[2020-09-17 12:24] nowakprojects commented on #155
Kamino cloned this issue to [CodersCamp2020/auto-grading-test-nowakprojects](https://github.com/CodersCamp2020/auto-grading-test-nowakprojects/issues/2)

[2020-10-01 18:56] tibi-extera opened #163 "When clicking on the Kamino link in GitHub, it opens the settings page"
I have created a PAT with all the access options that GitHub offers, not just the repo one. I have pasted the PAT to the Kamino settings and saved.

I opened my repository, and indeed the Kamino section appears at the top of the right bar. However, when I click on the Kamino link, a new tab opens with the Kamino settings. I do not get a list of repositories, and I am not able to clone the issue.

[2020-10-01 19:02] johnmurphy01 commented on #163
@tibi-extera when you say "when I click on the Kamino link", are you clicking on this?
![image](https://user-images.githubusercontent.com/2939548/94851861-a200e700-03ee-11eb-8411-0905d5538d63.png)

If so, that will take you to the options screen.

You have to click the button here:
![image](https://user-images.githubusercontent.com/2939548/94851909-b3e28a00-03ee-11eb-9de0-3a4119daabc7.png)

In ord

[2020-10-01 19:16] tibi-extera commented on #163
I am now embarrassed. Yes, I clicked on the first one and that opens the settings. Did not even notice the big green button.

I have now used the Clone to button (duh!) and I can confirm that it works just fine. My issue was cloned, with all the data.

Thank you for this extension, it is a life saver and sorry for wasting your time.

[2020-10-01 19:16] #163 closed

[2020-10-01 19:28] johnmurphy01 commented on #163
@tibi-extera no problem at all! I am glad Kamino is helpful to you

[2020-11-05 18:30] JamesNewton commented on #145
How much would it cost to make this happen like right now? I really need it.

[2020-11-05 18:54] johnmurphy01 commented on #145
@JamesNewton nothing at all, but thanks for the donation anyway! I can work on it right now

[2020-11-05 19:26] johnmurphy01 commented on #145
@JamesNewton I have implemented the feature. The soonest I can deploy the new version would be tomorrow morning, does that work for you? I don't currently have access to my key file in order to package the extension up

[2020-11-06 20:18] #145 closed

[2021-01-06 17:20] fharper opened #165 "Support new GitHub dark mode"
It's really difficult to read the repository list when you use the new GitHub dark mode
![image](https://user-images.githubusercontent.com/1170989/103799778-8a528380-5019-11eb-96cf-96291fb3cba5.png)

[2021-01-06 17:27] johnmurphy01 commented on #165
@fharper indeed it is! I had noticed this but haven't had a chance to put in the work to fix. I'll try to get to it as soon as I can

[2021-01-06 17:28] johnmurphy01 commented on #165
@all-contributors please add @fharper for bugs

[2021-01-06 20:06] fharper commented on #151
Good idea! This is what I thought this extension would do, so I will look forward to this feature if implemented.

[2021-01-18 12:18] safaorhan commented on #143
Hello, I am also interested in a feature for bulk copying all (or some) issues to a repository.

I create educational github repositories and create issues in them. I want my students to be able to clone the repo (github supports this already) with all issues (where kamino will be handy)

So my students can get an exact copy of the repository, work on the issues without affecting the original mate

[2021-01-18 14:16] johnmurphy01 commented on #143
Thanks @safaorhan! I believe it could be possible to make Kamino perform bulk/batch cloning for all issues in a repo. But this would be a pretty big feature that Kamino originally wasn't meant to support. Due to my time constraints, it may be a while before I would be able to work on this. But, this being an open source project, if anyone has time and wants to tackle it I am open to a PR!

[2021-02-09 20:59] johnmurphy01 commented on #165
@all-contributors please add @maciejwalkowiak for code

[2021-02-09 22:16] #165 closed

[2021-02-19 15:29] johnmurphy01 commented on #153
Without being able to test, based on other feedback I am under the impression that github enterprise and kamino are working well together. Closing this

[2021-02-19 15:29] #153 closed

[2021-04-27 16:04] johnmurphy01 commented on #155
This issue is resolved and will be in the newest version of the extension soon. Thanks @NathanWaddell121107 !

[2021-04-27 16:04] #155 closed

[2021-05-01 03:35] MaksimZinovev commented on #143
Hi John!
Thank you for this tool! This is exactly what I was looking for. I am a software tester and I am experimenting with different ways to trace requirements and comments in our GithHub repo. Looks like your tool allows me to create my own repo and import issues so that I can modify them as per my needs.

It would be great if you could add Batch cloning or even Sync feature. Any updates on tha

[2021-05-03 15:54] johnmurphy01 commented on #143
@MaksimZinovev thanks for the donation! This has been an oft requested feature.

I've been considering how it should be best implemented and that's currently where I'm at in the process. As I've mentioned before, this isn't something that Kamino was ever meant to do.

I would think this wouldn't really even be a part of the Kamino UI, it would possibly be on the main repo page or main issues list

[2021-05-06 15:21] johnmurphy01 commented on #143
Hmmm, I did a thing. Still a work in progress but it's getting there!!

![image](https://user-images.githubusercontent.com/2939548/117323733-c5908200-ae54-11eb-98dd-5b19977d4ae8.png)

[2021-05-06 21:16] #143 closed

[2021-05-06 21:16] johnmurphy01 commented on #143
Will be in version `3.0.0`!!!

[2021-06-09 11:50] Daksh777 opened #175 "Ability sort issues by labels"
**Is your feature request related to a problem? Please describe.**
I want to clone issues only with the `bug` label, it's not possible to batch clone it but only do it one by one by using the issue search filter

**Describe the solution you'd like**
Ability to sort issues by labels and then batch clone them.

**Describe alternatives you've considered**
None

**Additional context**
None

[2021-06-09 12:16] johnmurphy01 commented on #175
@all-contributors please add @Daksh777 for ideas

[2021-06-09 12:26] johnmurphy01 commented on #175
@Daksh777 a good feature request. For the batch clone, we could add a filter/search based on the labels in the repo you are trying to clone from.

[2021-06-09 12:32] Daksh777 commented on #175
I'm unaware of the complexity but how about using the issue search itself and then cloning the issues which are selected/checked and have a button to clone selection?
![image](https://user-images.githubusercontent.com/43648146/121354761-d4cf8780-c94c-11eb-9ae8-64bfd6ef1da4.png)

[2021-06-09 13:00] johnmurphy01 commented on #175
An interesting idea. That's a good approach, the only problem I see is that it would involve a lot more querying of Github's DOM which is not guaranteed to always stay the same as they make updates/changes to their web application.

Building my own UI for filtering and selection guarantees that it will always work unless I personally introduce a bug.

But let me think about this and if anyone else

[2021-06-09 13:14] Daksh777 commented on #175
Although GitHub hasn't made changes so significant which changes the UI completely in the past (sorry if I'm wrong, I haven't been very long on GitHub), it's better to prefer long time compatibility than integrating it in the UI which may or may not change in the future, and if it does, your work gets wasted.
So I'm going to vote for building your own UI, even though it's not so well integrated.

[2021-06-09 13:23] johnmurphy01 commented on #175
No problem! And thanks for your input. We can always begin by adding the filter/search into my UI and if there's a lot of demand, I can look into integrating the functionality more tightly into Github's UI.

[2021-06-26 19:10] safaorhan commented on #175
Piggybacking on this issue:

I will appreciate if we could somehow determine the order of issues cloned.

I want to use Kamino to batch clone issues from a template repository to new repositories created from that template. When I batch clone, the order of issues are reversed:

<img width="563" alt="Screen Shot 2021-06-26 at 22 08 55" src="https://user-images.githubusercontent.com/4990386/12352324

[2021-08-12 08:04] HolgerSin opened #178 "[BUG] Batch cloning only possible on open issues"
**Describe the bug**
The batch clone button apparently only appears on the starting page of issues, i.e. when the address in the browser ends on "yourRepoName/issues". As soon as you apply any filters, the batch clone button disappears.
Not sure if this is really a bug or a missing feature, sorry if calling this a bug is wrong.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://gi

[2021-08-12 11:29] johnmurphy01 commented on #178
@HolgerSin Nice catch! I'd call it a bug, I didn't test that scenario

[2021-08-12 11:31] johnmurphy01 commented on #178
@all-contributors please add @HolgerSin for bugs

[2021-11-08 11:52] julianzz98 opened #180 "[BUG] Cloned issues have their comments "scrambled""
**Describe the bug**
When cloning a GitHub issue to another repository, the comments of the original issue are *sometimes* scrambled in the cloned ticket.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to your repository, choose a issue with maybe some more comments (e.g. 10)
2. Click on clone to "your repository"
3. Check how the comments are sorted in the cloned ticket

**Expected beha

[2021-11-08 17:29] johnmurphy01 commented on #180
Thanks for the report! My guess is that maybe the comments do not come in from the GitHub api in the right order. Possibly we will have to sort them ourselves or figure out the right parameter to pass to the api to sort them.

[2021-12-01 22:17] johnmurphy01 opened #181 "Migrate to Manifest V3"
https://developer.chrome.com/docs/extensions/mv3/intro/mv3-migration/

Not a huge priority, V2 support will continue for existing extensions for the foreseeable future. But it would be nice to get this migrated at some point

[2022-01-08 19:02] thomas694 commented on #180
The GitHub API is working correctly. The order is randomly, mainly depending on network latency, because the promises are executed concurrently already at their time of creation.
I created a PR to fix it.

[2022-02-07 14:30] Abdelsattar opened #183 "Why the extension need to read my browsing history?"
<img width="435" alt="Screenshot 2022-02-07 at 15 29 14" src="https://user-images.githubusercontent.com/9407394/152807275-7c0a1f3f-2b8c-4992-9527-883c30890a74.png">

[2022-04-24 03:35] wangshijun opened #184 "[BUG] Clone Confirm Dialog Styling Issue"
The clone confirm dialog is weird, see screenshot below:

![Screen Shot 2022-04-24 at 11 24 11](https://user-images.githubusercontent.com/719985/164955255-1c1f886f-8462-45fa-9612-08e0778956a7.png)

Steps to reproduce the behavior: the issue persists on every clone

The dialog should have a background, but it seems its transparent, env:

 - OS: Mac
 - Browser: chrome
 - Version: 0.3.0

I installed

[2022-04-27 13:59] johnmurphy01 commented on #184
@wangshijun yes, looks like Github may have changed their CSS classes again. The code will need to be updated to account for this

[2022-04-27 14:04] johnmurphy01 commented on #184
These are the new CSS variables:
[code]

[2022-07-25 13:23] #180 closed

[2022-07-25 16:05] #183 closed